@*@model MvcLoginApp.Models.*@
@model IEnumerable<MvcLoginApp.Models.RegistrationPageModel>
@{
    ViewBag.Title = "FriendList Page";
}

<div class="container">
    <div style="text-align:center">
        <h3>Friend List</h3>
    </div>
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <td>@Html.Hidden("UserID")</td>
                <td>@Html.DisplayNameFor(x => x.EmailAddress) </td>
                <td>@Html.DisplayNameFor(x => x.UserName)</td>
                <td>@Html.DisplayNameFor(x => x.Type)</td>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.HiddenFor(x => item.UserID)</td>
                <td>@Html.DisplayFor(x => item.EmailAddress)</td>
                <td>@Html.DisplayFor(x => item.UserName)</td>
                <td>@Html.DisplayFor(x => item.Type)</td>
                <td>@Html.ActionLink("Accept", "AcceptRequest", new { id = item.UserID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Reject", "RejectRequest", new { id = item.UserID }, new { @class = "btn btn-primary" })</td>
            </tr>
            }
        </tbody>
    </table>
</div>


